*{box-sizing: border-box;}
.header{height: 150px;width: 100%; background-color:#2c3e50;opacity: .9;}
.header h2{float: right;margin-right: 30px;margin-top: -100px;}
.stickTop{position: fixed;top: 0;}
.sticky{position: fixed;bottom: 0;}
.logo{height: 140px;width: 400px;margin-top: 5px;margin-left: 60px;background-color: white;}
.links{height: 140px;width: 900px;margin-top: -140px;margin-left: 462px;}
.content{padding: 6px;padding-top: 2px;margin-top: 150px;margin-bottom: 50px;}
img#logo{float: left;margin-top: 10px;}
#img1,#img2,#img3,#img4{height: 400px;width: 100px;}
span{margin-left: 22px;}
ul li{display: block;float: left;width: 100px;text-align: center;line-height: 1;color: white;}
a{color: white;background: transparent;}
a:hover{color: white;}
#search{width: 140px;height: 25px;}
#l2{float: left;margin-top: -20px;margin-left: 90px;}
#l2 ul li{display: block;float: left;width: 140px;text-align: center;font-size: 18px;}
.social{float: left;margin-top: -25px;margin-left: 700px;width: 160px;height: 30px;}
.mySlides {display: none;}
.slideshow-container {max-width: 900px;margin: auto;}
.prev, .next{cursor: pointer;position: absolute; top: 50%;width: auto;padding: 16px;margin-top: 30px;color: white;
  	font-weight: bold;font-size: 18px;transition: 0.6s ease;border-radius: 0 3px 3px 0;}
.next {margin-left: 860px; border-radius: 3px 0 0 3px;}
.prev:hover, .next:hover {background-color: rgba(0,0,0,0.8);}
.text{color:#030308;font-size:18px;padding: 8px 12px;width: 100%;text-align:center;font-family: cursive;margin-top: -70px;}
.numbertext {color: #706e67;font-size: 12px;padding: 8px 12px;font-weight: bolder;position: absolute;}
.dot {cursor: pointer;height: 15px;width: 15px;margin: 0 2px;background-color: #bbb;border-radius: 50%;display: inline-block;
	transition: background-color 0.6s ease;margin-top: -70px;}
.active, .dot:hover {background-color: #717171;}
.fade1{-webkit-animation-name: fade;-webkit-animation-duration: 1.5s;animation-name: fade;animation-duration: 1.5s;}
@-webkit-keyframes fade {from {opacity: .4} to {opacity: 1}}
@keyframes fade {from {opacity: .4} to {opacity: 1}}
@media only screen and (max-width: 300px) {.prev, .next,.text {font-size: 11px}}
.academics{text-align: center;height: 440px;width:100%;background:#CFCDFF;}
.events{text-align: center;height: 100%; width:100%;background:#CFCDFF;}
.academics h1,.events h1{width: 400px;font-family: fantasy;padding: 5px;color: #706e67;border-top: 2px solid red;
	border-bottom: 2px solid red;}
.more{border: 2px solid red;height: 45px;width: 140px;margin-left: 580px;}
.more h3,.more a{font-family: cursive;margin-top: 6px;color: #706e67;}
span#s01,.contact span{font-family: cursive;font-size: 22px;}
#acd{height: 140px;width: 700px;margin: auto;}
.enquiry{height: 450px;width: 360px;float: right;}
input[type="submit"]{margin-top: 5px;}
strong{font-family: fantasy;font-size: 30px;border-bottom: 2px solid red;}
.contact{height: 450px;width: 950px;float: left;text-align: center;}
.contact h1{margin-top: 10px;color: #0587d3;font-family: monospace;border-bottom: 2px dashed #0587d3;
	border-top: 2px dashed #0587d3; width: 220px;}
.events span{font-size: 20px;}
.eventlist{height: 290px;width: 400px;border: 1px solid transparent; margin: auto;}
.eventlist i{font-size:48px;color:red;float: left;margin-top: 25px;margin-left: 40px;}
.eventlist h3,.eventlist span{margin-left: -10px;margin-top: 20px;}
.footer{height: 50px;width: 100%;margin: auto;border-radius: 4px;background-color: #2c3e50;}
.footer p{font-size: 1.1em;color: white;}