*{box-sizing: border-box;}
.sticky{position: fixed;bottom: 0;}
.container{margin-bottom: 60px;}
.navbar{min-height: 100px;background-color: #2c3e50;}
.ev{background-color: #a19be8;border-radius: 4px; height: 300px;}
.ac{border-radius: 4px; height: 300px;}
.eq{height: 450px;display: block;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;
	background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.academics,.events,.contact{margin: auto;border-top: 2px solid red;border-bottom: 2px solid red; float: none;margin-top: 10px;}
.eventlist{border: 1px solid transparent; margin: auto;}
.eventlist i{font-size:48px;color:red;float: left;margin-top: 20px;margin-right: 10px;}
.eventlist h3,.eventlist span{margin-top: 20px; font-size: 20px;}
.footer ul li{display: block;float: left;width: 100px;text-align: center;line-height: 1;color: white;}
.footer a{color: white;background: transparent;}
.footer a:hover{color: white;}
.footer{height: 60px;width: 100%;margin: auto;border-radius: 4px;background-color: #2c3e50;bottom: 0;}
.footer p{font-size: 1.1em;color: white;}
@media (max-width: 768px){body{font-size: 10px;}}
    
